<phpunit bootstrap="tests/bootstrap.php">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Simple HTML Dom Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
